@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(59 130 246);
  --active-color: rgb(81 142 241);
  --disabled-color: rgb(144 179 236);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
