@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4c7df3;
  --active-color: #2e65e8;
  --disabled-color: #afc1ed;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
